@import '../../common_projects_utilities/css/reset';

/* VARIABLES */
/* Fonts */
$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;


/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;
    
    height: 985px;

    display: flex;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
    
}

.title {
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    padding-bottom: 8px;
    margin-bottom: 24px;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 66px;
        height: 1px;
        background: $dark-color;
    }
}

.legend {
    margin-bottom: 24px;
    &__item {
        position: relative;
		font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;

		margin-right: 24px;
		padding-left: 13.5px;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
            border-radius: 50%;
			width: 11px;
			height: 11px;
		}

        &--psoe {
            &::before {background-color: #ea5458;}
        }
        &--pod {
            &::before {background-color: #693067;}
        }
        &--mas {
            &::before {background-color: #2adcc4;}
        }
    }
}

.maps {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .b-map {
        width: 50%;
        margin-bottom: 48px;

        &:last-child {
            margin-bottom: 24px;
        }

        .map__title {
            font-size: 15px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }

        .map__subtitle {
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: normal;
            text-align: left;
            color: #565656;
        }

        .map {
            width: 100%;
            height: 315px;

            margin-top: 24px;
        }
    }
}

.source {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #565656;

    span:not(:first-child) {
        font-weight: bold;
    }
}

.hidden-mobile {display: inline;}
.visible-mobile {display: none;}

@media screen and (max-width: 620px) {
    .legend {
        &__item {    
            margin-right: 18px;
            padding-left: 13.5px;
        }
    }
    .maps {
        .b-map {
            width: 100%;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 24px;
            }
    
            .map {
                width: 100%;
                height: 240px;

                margin-top: -12px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .hidden-mobile {display: none;}
    .visible-mobile {display: inline;}

    .legend {
        &__item {    
            margin-right: 15px;
        }
    }
}